<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/litera/bootstrap.min.css">
</head>
<body>
<h1><center>Agregar participante</center></h1>
<center>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-dismissible alert-danger" style="width: 300px">
    {% for message in messages %}
      <p>{{ message.1 }}</p>
    {% endfor %}
    </div>
  {% endif %}
    </center>
      <center>

<form method="post">
  <br>
  <div class="form-group">
      <label class="col-form-label" for="inputDefault">Nombre del Participante<br><br></label>
      <input type="text" name="participante" class="form-control" placeholder="participante" id="inputDefault" style="width: 300px" required>
    </div>
    <br>


    <br>

    </div>
      <br>
  <div class="form-group">
      <label class="col-form-label" for="inputDefault">Grupo<br><br></label>
      <br>
      <select name="grupo" method="GET" action="/">
          {% for grupo in grupos %}
              <option value="{{grupo.grupo.nombre}}" SELECTED>{{grupo.grupo.nombre}}</option>"
          {% endfor %}

      </select>

    </div>
    <br>

  <button type="submit" class="btn btn-primary">Agregar Participante</button><br><br><br><br><br>

</form>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <a href="{{ url_for('ControladorGrupos.grupos') }}" class="btn btn-outline-primary">Mis grupos</a>
    <a href="{{ url_for('auth.login_succesful') }}" class="btn btn-outline-primary">Inicio</a>
    <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-primary">Log Out</a>
</div>
{% endwith %}
 </center>
</body>
</html>