<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><center>Intefaz ingresar recurso</center></h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
<form method="post">
  <center>
  <br>
  <div class="form-group">
      <label class="col-form-label" for="inputDefault">Ingresar recurso<br><br></label>
      <input type="text" name="resource" class="form-control" placeholder="resource" id="inputDefault">
    </div>
    <br>
   <div class="form-group">
      <label for="exampleTextarea">Descripcion<br><br></label>
      <textarea inputmode="True" class="form-control" name="description" id="exampleTextarea" rows="3"></textarea>
    </div>

    <br>

    </div>
      <br>
  <div class="form-group">
      <label class="col-form-label" for="inputDefault">Ingresar categoria<br><br></label>
      <select name="category_selection" method="GET" action="/">
          {% for categoria in categorias %}
              <option value="{{categoria.nombre}}" SELECTED>{{categoria.nombre}}</option>"
          {% endfor %}
          <option value="nueva_categoria" SELECTED>Nueva Categoria</option>
      </select>
      <input type="text" name="category_input" class="form-control" placeholder="resource" id="inputDefault">
      <input type="text" name="tags" class="form-control" placeholder="tag1, tag2, tag3">
    </div>
    <br>

  <button type="submit">Submit</button><br><br><br><br><br>

</form>
    <a href="{{ url_for('ControladorEditUsuario.edit') }}"class="btn btn-primary">Edit</a>
    <a href="{{ url_for('auth.login_succesful') }}">Back to Login Page/LOGUOT</a>
{% endwith %}
 </center>
</body>
</html>