<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><center>Intefaz crear grupo</center></h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
<form method="post">
  <center>
  <br>
  <div class="form-group">
      <label class="col-form-label" for="inputDefault">Ingresar nombre del Grupo<br><br></label>
      <input type="text" name="grupo" class="form-control" placeholder="grupo" id="inputDefault">
    </div>
    <br>




  <button type="submit">Submit</button><br><br><br><br><br>

</form>
    <a href="{{ url_for('ControladorEditUsuario.edit') }}"class="btn btn-primary">Edit</a>
    <a href="{{ url_for('auth.login_succesful') }}">Back to Login Page/LOGUOT</a>
{% endwith %}
 </center>
</body>
</html>