<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Buscar por etiqueta</p>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
<form method="post">
    <input type="text" name="etiquetabuscar" placeholder="etiqueta">
    <button type="submit">Buscar</button>
</form>
    <ul>
{% for recursos in recursosBuscados %}
    <li>{{ recursos }}</li>
{% endfor %}
</ul>
    <a href="{{ url_for('main.home') }}">Back to Home Page</a>
{% endwith %}
</body>
</html>