<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create group</title>
</head>
<body>
<center>
<h1>Interfaz de crear grupo</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
<form method="post">

<div class="form-group">
      <label class="col-form-label" for="inputDefault">Ingresar nombre del grupo<br><br></label>
      <input type="text" name="group_name" class="form-control" placeholder="nombre" id="inputDefault">
    </div>
    <br>
<button type="submit">Submit</button><br><br><br><br><br>
</form>
<br><br><br><br><br>
<a href="{{ url_for('auth.login_succesful') }}">Back to Login Page</a>
{% endwith %}
</center>
</body>
</html>