<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/litera/bootstrap.min.css">
</head>
<body>
<p>Edit</p>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
<form method="post">
    <input type="text" name="newpassword" placeholder="new password">
    <input type="text" name="newpassword2" placeholder="repeat new password">
    <button type="submit">Edit</button>
</form>
    <a href="{{ url_for('main.home') }}">Back to Home Page</a>
{% endwith %}
</body>
</html>