<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/litera/bootstrap.min.css">
</head>
<body>
<h1><center>Login</center></h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
<form method="post">
  <center>
  <br>
  <div class="form-group">
  <label class="col-form-label" for="inputDefault">Username<br><br></label>
  <input type="text" name="username" class="form-control" placeholder="username" id="inputDefault">
  </div>

  <br><br>

  <div class="form-group">
  <label class="col-form-label" for="inputDefault">Password<br><br></label>
  <input type="text" name="password" class="form-control" placeholder="password" id="inputDefault">
  </div>

  <br>

  <button type="submit">Login</button><br><br><br><br><br>

</form>
    <a href="{{ url_for('main.home') }}">Back to Home Page</a>
{% endwith %}
</center>
</body>
</html>