<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/litera/bootstrap.min.css">
</head><center>
<body>
<h1>Gestor integrado de recursos</h1>
<br><br>
    <img src="http://systemtec.com.co/helpdesk/_lib/img/usr__NM__menu_img__NM__avatar1.png"width="125" height="125"><br><br>
    <a href="{{ url_for('ControladorAgregarRecurso.enter_resource') }}" class="btn btn-outline-primary">agregar recurso</a>
    <br><br>


<a href="{{ url_for('ControladorCrearGrupo.crear_grupo') }}" class="btn btn-outline-primary">Crear Grupo</a>
<a href="{{ url_for('ControladorGrupos.grupos') }}" class="btn btn-outline-primary">Mis grupos</a>


        <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-primary">logout</a>

 <br><br>

<a href="{{ url_for('ControladorCategorias.mis_categorias') }}" class="btn btn-outline-primary">MisCategorias</a>
</center>
</body>
</html>