#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Table_2 {
  border-collapse: separate;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}