#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Table_2 {
  position: absolute;
  width: 421px;
  height: 364px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Table_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Table_2 > table {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_25 {
  width: 72px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_31 {
  width: 297px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_37 {
  width: 1px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_37 span#rtr-s-Text_cell_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_43 {
  width: 1px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_43 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_26 {
  width: 74px;
  height: 49px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_32 {
  width: 299px;
  height: 49px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_38 {
  width: 3px;
  height: 49px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_44 {
  width: 3px;
  height: 49px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_27 {
  width: 74px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_33 {
  width: 299px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_39 {
  width: 3px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_39 span#rtr-s-Text_cell_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_45 {
  width: 3px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_45 span#rtr-s-Text_cell_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_28 {
  width: 74px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_34 {
  width: 299px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_40 {
  width: 3px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_46 {
  width: 3px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_46 span#rtr-s-Text_cell_46_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_29 {
  width: 74px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_35 {
  width: 299px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_41 {
  width: 3px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_41 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_41 span#rtr-s-Text_cell_41_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_47 {
  width: 3px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_47 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_47 span#rtr-s-Text_cell_47_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_30 {
  width: 74px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_36 {
  width: 299px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_42 {
  width: 3px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_42 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_42 span#rtr-s-Text_cell_42_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_48 {
  width: 3px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_48 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_cell_48 span#rtr-s-Text_cell_48_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Group_1 {
  position: absolute;
  width: 306px;
  height: 146px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_1 {
  position: absolute;
  width: 197px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_1 > .clipping, #s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_1 > .paddingLayer {
  height: 71px;
  width: 197px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Input_1 {
  position: absolute;
  width: 306px;
  height: 77px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 #s-Input_1 > .paddingLayer {
  height: 67px;
  width: 291px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
}
#s-0e4633a3-9b22-4f8f-a573-879cf5225f62 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}