#s-2cf9148e-2f6c-4491-9ce2-a705c61f3734 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2cf9148e-2f6c-4491-9ce2-a705c61f3734 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 37px;
  width: 62px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2cf9148e-2f6c-4491-9ce2-a705c61f3734 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2cf9148e-2f6c-4491-9ce2-a705c61f3734 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2cf9148e-2f6c-4491-9ce2-a705c61f3734 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2cf9148e-2f6c-4491-9ce2-a705c61f3734 #s-Table_1 {
  border-collapse: separate;
}
#s-2cf9148e-2f6c-4491-9ce2-a705c61f3734 #s-Table_2 {
  border-collapse: separate;
}
#s-2cf9148e-2f6c-4491-9ce2-a705c61f3734 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2cf9148e-2f6c-4491-9ce2-a705c61f3734 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}