#s-ab22b08e-61b9-451e-a340-4c4aad0734c6 #s-Table_1 {
  border-collapse: separate;
}
#s-ab22b08e-61b9-451e-a340-4c4aad0734c6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ab22b08e-61b9-451e-a340-4c4aad0734c6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ab22b08e-61b9-451e-a340-4c4aad0734c6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ab22b08e-61b9-451e-a340-4c4aad0734c6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ab22b08e-61b9-451e-a340-4c4aad0734c6 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ab22b08e-61b9-451e-a340-4c4aad0734c6 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ab22b08e-61b9-451e-a340-4c4aad0734c6 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ab22b08e-61b9-451e-a340-4c4aad0734c6 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ab22b08e-61b9-451e-a340-4c4aad0734c6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}